<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Person Management</h1>
        <button class="govuk-button"
                data-module="govuk-button"
                (click)="addNewPerson()"
                aria-label="Add new person">
          Add New Person
        </button>
        <div *ngIf="errors.length" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
          </div>
        </div>
        <app-person-list [people]="people"
                         (selectPerson)="selectPerson($event)"
                         (deletePerson)="deletePerson($event)"></app-person-list>
      </div>
      <div class="govuk-grid-column-one-third">
        <app-person-editor *ngIf="selectedPerson"
                           [person]="selectedPerson"
                           [departments]="departments"
                           (savePerson)="savePerson($event)"></app-person-editor>
      </div>
    </div>
</div>
